RewriteEngine On
RewriteBase /

<IfModule mod_rewrite.c>
  RewriteCond %{REQUEST_URI} ^/(wp-admin|wp-includes|xmlrpc\.php|feed|blog|wordpress|cms|wp1|wp|site|test|shop) [NC]
  RewriteRule ^.*$ - [F,L]
</IfModule>

RewriteRule ^sets/?$ /src/assets/pages/sets.html [L]
RewriteRule ^backed/?$ /src/assets/pages/backed.html [L]
RewriteRule ^faq/?$ /src/assets/pages/FAQ.html [L]
RewriteRule ^delivery/?$ /src/assets/pages/delivery.html [L]

RewriteRule ^favicon\.ico$ /src/assets/images/logo_mini.ico [L]
