@import url(./style.css);
@import url(./normalize.css);
@import url(./cards_scroll.css);

main {
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: nowrap;
}

.menu {
    display: flex;
    margin: 15px;
    border-radius: 25px;
    background: #FFE0B2;
    width: 89%;
    align-items: space-around;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

[class*="page_"] {
    display: none;
}

main:has(input[id="value-1"]:checked) .page_1,
main:has(input[id="value-2"]:checked) .page_2,
main:has(input[id="value-3"]:checked) .page_3,
main:has(input[id="value-4"]:checked) .page_4,
main:has(input[id="value-5"]:checked) .page_5,
main:has(input[id="value-6"]:checked) .page_6,
main:has(input[id="value-7"]:checked) .page_7,
main:has(input[id="value-8"]:checked) .page_8 {
    display: flex;
    width: 100%;
    align-items: space-around;
    justify-content: space-around;
}

/* ----------------slide_bar------------------ */
.lowbar {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    max-width: 80%;
}

.slide_buttons input {
    display: none;
}

.slide_buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
    color: #000000;
    width: var(--container_width);
    max-width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
    border: 1px solid #3E2522;
}

.slide_buttons label {
    min-width: calc(var(--container_width) / 4);
    width: calc(var(--container_width) / 4);
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 16px;
    text-align: center;
}

.selection {
    display: none;
    position: absolute;
    height: 100%;
    z-index: 0;
    left: 0;
    top: 0;
    transition: .15s ease;
    width: calc(var(--container_width) / 2);
}

.slide_buttons label:has(input:checked) {
    color: #fff;
}

.slide_buttons label:has(input:checked)~.selection {
    background-color: #3E2522;
    display: inline-block;
}

.slide_buttons {
    --container_width: 360px;
}


@media (max-width: calc(var(--container_width)* 1.5)) {
    .slide_buttons {
        overflow-x: scroll;
    }
}

/* -------------------------------------------------- */

@media (max-width:600px) {

    .menu {
        width: 95%;
        margin: 5px;
    }

}