@import url(./normalize.css);
@import url(./style.css);

body {
    background-image: none !important;
}

.main {
    padding: 15px;
}

.secv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 85%;
    margin: 30px;
}

.secv h3 {
    width: 100%;
    text-align: center;
}

.secv p {
    text-align: center;
}

.how_to_delivery>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 400px;
}


.how_to_delivery>div p {
    width: 100%;
}

.how_to_delivery div:nth-of-type(1) {
    width: 100%;
    max-width: none;
}

.delivery_map {
    display: flex;
    justify-content: center;
}

.delivery_map p {
    width: 100%;
}

.map iframe {
    width: 100%;
    border-radius: 30px;
}

.delivery_map .map {
    width: 85%;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background-image: linear-gradient(#D3A376, #FFE0B2);
}

@media (max-width:600px) {
    .secv {
        margin: 5px;
    }

    .delivery_map {
        width: 95%;
    }

    .delivery_map .map {
        width: 95%;
    }
}

main div>img {
    border-radius: 25px;
    width: 150px;
    height: 100%;
    background: #FFE0B2;
    padding: 15px;
}

.prev_secv_delivery img {
    padding: 0;
}

img[src*="order.svg"] {
    padding: 30px 15px 0 15px;
}