@import url(./style.css);
@import url(./normalize.css);
@import url(./cards_scroll.css);

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: nowrap;
}

main>* {
    margin: 20px 0 20px 0;
}

.menu_wh_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 100%;
}

.left_nav {
    display: flex;
    flex-direction: column;
    background: #ffe0b29d;
    font-size: 16px;
    padding: 2%;
    border-radius: 20px;
}

.left_nav ul {
    display: none;
}

.left_nav li {
    background: #d3a3768f;
    margin: 15px 0 15px 0;
    padding: 4px;
    border-radius: 8px;
}

.left_nav li:hover {
    background: #3e252294;
}

.left_nav h3 {
    font-size: 20px;
    color: #3E2522;
    position: sticky;
    top: 120px;
    left: 0;
}

.left_nav a {
    color: #000000;
    text-decoration: none;
}

#left_nav_burger {
    display: none;
}

label[for="left_nav_burger"] {
    display: none;
}

.menu_wh_nav:has([class^="page_"]:is(.none)):has([id^="card_"]:checked) .left_nav {
    display: none;
    width: 0;
}

.hide {
    display: none !important;
    width: 0;
}

@media(max-width:1205px) {

    .left_nav ul {
        top: 40px;
        left: 0;
    }

    .left_nav h3 {
        top: 10px;
        left: 0;
    }

    .left_nav {
        position: relative;
        top: 0;
        left: -100vh;
        z-index: 10;
        transition: 0.3 ease;
        width: 0;
        display: none;
    }

    label[for="left_nav_burger"] {
        display: block;
        background: #ffe0b29d;
        width: 80%;
        padding: 20px 0;
        border-radius: 15px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
    }

    main:has(#left_nav_burger:checked) .left_nav {
        left: 0;
        width: auto;
        display: flex;
    }

    main:has([class^="page_"]:is(.none)):has([id^="card_"]:checked) label[for="left_nav_burger"] {
        display: none !important;
        width: 0;
    }
}

.menu {
    display: flex;
    margin: 15px;
    border-radius: 25px;
    background: #FFE0B2;
    width: 80%;
    align-items: space-around;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 24px;
}

main:has(input[id="value-1"]:checked) label[for="left_nav_burger"],
main:has(input[id="value-5"]:checked) label[for="left_nav_burger"],
main:has(input[id="value-6"]:checked) label[for="left_nav_burger"],
main:has(input[id="value-7"]:checked) label[for="left_nav_burger"],
main:has(input[id="value-8"]:checked) label[for="left_nav_burger"] {
    display: none;
}

main:has(input[id="value-1"]:checked) .left_nav,
main:has(input[id="value-5"]:checked) .left_nav,
main:has(input[id="value-6"]:checked) .left_nav,
main:has(input[id="value-7"]:checked) .left_nav,
main:has(input[id="value-8"]:checked) .left_nav {
    display: none;
}

main:has(input[id="value-1"]:checked) ul[data-title="nav_page_1"],
main:has(input[id="value-2"]:checked) ul[data-title="nav_page_2"],
main:has(input[id="value-3"]:checked) ul[data-title="nav_page_3"],
main:has(input[id="value-4"]:checked) ul[data-title="nav_page_4"],
main:has(input[id="value-5"]:checked) ul[data-title="nav_page_5"],
main:has(input[id="value-6"]:checked) ul[data-title="nav_page_6"],
main:has(input[id="value-7"]:checked) ul[data-title="nav_page_7"],
main:has(input[id="value-8"]:checked) ul[data-title="nav_page_8"] {
    display: block;
    position: sticky;
    top: 150px;
    left: 0;
}

div[class^="page_"]:has([id^="card_"]:checked) {
    display: flex;
    justify-content: center;
}

[class*="page_"] {
    display: none;
}

main:has(input[id="value-1"]:checked) .page_1,
main:has(input[id="value-2"]:checked) .page_2,
main:has(input[id="value-3"]:checked) .page_3,
main:has(input[id="value-4"]:checked) .page_4,
main:has(input[id="value-5"]:checked) .page_5,
main:has(input[id="value-6"]:checked) .page_6,
main:has(input[id="value-7"]:checked) .page_7,
main:has(input[id="value-8"]:checked) .page_8 {
    display: flex;
    width: 100%;
    align-items: space-evenly;
    justify-content: space-evenly;
}

[class^="page_"]>div {
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
}

/* ----------------slide_bar------------------ */
.lowbar {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
}

.slide_buttons input {
    display: none;
}

.slide_buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
    color: #000000;
    width: var(--container_width);
    max-width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
    border: 1px solid #3E2522;
}

.slide_buttons label {
    min-width: 70px;
    width: 70px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 16px;
    text-align: center;
}

.selection {
    display: none;
    position: absolute;
    height: 100%;
    z-index: 0;
    left: 0;
    top: 0;
    transition: .15s ease;
    width: calc(var(--container_width) / 8);
}

.slide_buttons label:has(input:checked) {
    color: #fff;
}

.slide_buttons label:has(input:checked)~.selection {
    background-color: #3E2522;
    display: inline-block;
}

.slide_buttons {
    --container_width: 560px;
}


@media (max-width: 600px) {
    .slide_buttons {
        overflow-x: scroll;
    }
}

/* -------------------------------------------------- */

@media (max-width:600px) {

    .menu {
        width: 95%;
        margin: 5px;
    }

}