@import url(./style.css);
@import url(./normalize.css);

main {
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: nowrap;
}

main>* {
    margin: 20px 0 20px 0;
}

.menu {
    display: flex;
    margin: 15px auto 15px auto;
    border-radius: 25px;
    background: #FFE0B2;
    width: 100%;
    align-content: space-around;
    justify-content: space-around;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card label {
    display: flex;
    position: relative;
    gap: 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    width: 350px;
    padding: 15px 15px 30px 15px;
    margin: 5px;
    border-radius: 20px;
    background: #FFF2DF;
    box-shadow: #D3A376 0px 30px 50px -12px inset, #e0d7c9 0px 18px 26px -18px inset;
}

.card {
    display: flex;
    justify-content: center;
}

.card label img {
    width: 100%;
    height: 360px;
    border-radius: 8px;
    object-fit: cover;
}

.card_text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card_text>p:nth-of-type(2) {
    text-align: justify;
    padding: 0 20px;
}

.card input {
    display: none;
}

.card .full_text {
    display: none;
}

.card .back_btn {
    display: none;
}

.card .img_scroll {
    display: none;
}

/* .img_scroll button {
    background: none;
    border: #3E2522 solid 2px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.img_scroll button img {
    width: 80px !important;
    height: 80px !important;
} */

/* ----------------cards_scroll------------------ */

[id^="set_card_"]:checked+.card_btn {
    width: 95%;
    justify-content: flex-start;
    padding: 2%;
    cursor: default;
}

[id^="set_card_"]:checked+.card_btn .card_text {
    display: none;
}

[id^="set_card_"]:checked+.card_btn .full_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: large;
    width: 600px;
    margin: 10px;
}

[id^="set_card_"]:checked+.card_btn p,
[id^="set_card_"]:checked+.card_btn h3,
[id^="set_card_"]:checked+.card_btn h4,
[id^="set_card_"]:checked+.card_btn ul {
    width: fit-content;
}

[id^="set_card_"]:checked+.card_btn h3,
[id^="set_card_"]:checked+.card_btn h4 {
    font-size: 25px;
}

[id^="set_card_"]:checked+.card_btn p {
    text-align: justify;
}

[id^="set_card_"]:checked+.card_btn .img_scroll {
    display: flex;
    position: absolute;
    top: 350px;
    left: 7vh;
    z-index: 10;
}

[id^="set_card_"]:checked+.card_btn .bnt_View_more {
    display: none;
}

[id^="set_card_"]:checked+.card_btn .back_btn {
    display: inline-block;
    color: #3E2522;
    border: #3E2522 solid 3px;
    border-radius: 25px;
    padding: 5px;
    background: none;
    font-size: 25px;
    font-weight: bold;
    margin: 1%;
    margin-right: 95%;
    cursor: pointer;
    text-decoration: none;
}

[id^="set_card_"]:checked+.card_btn img {
    width: 400px;
    border-radius: 0;
    position: relative;
    top: 0;
}

/* ------------------------------------------ */
@media (max-width:600px) {

    .menu {
        width: 95%;
        margin: 5px;
    }

    .card:has(input:not(:checked)) label img {
        height: 320px;
    }

    .card .card_btn {
        width: 97%;
    }

    [id^="set_card_"]:checked+.card_btn {
        justify-content: center;
        justify-items: center;
        width: 95%;
    }
}

@media (min-width: 930px) {
    .card:hover:has(input:not(:checked)) img {
        box-shadow: 0px 0px 30px 1px rgba(255, 217, 0, 0.3);
        transition: 0.15s ease-in-out;
    }

    .card:hover:has(input:not(:checked)) {
        transform: translateY(-15px) scale(1.05);
        transition: 0.15s ease-in-out;
    }

}

@media (max-width: 700px) {

    [id^="set_card_"]:checked+.card_btn .card_text {
        width: 100%;
    }

    [id^="set_card_"]:checked+.card_btn .full_text {
        display: flex;
        width: 100%;
    }

    [id^="set_card_"]:checked+.card_btn .back_btn {
        margin-right: 85%;
    }
}

@media (max-width: 500px) {
    [id^="set_card_"]:checked+.card_btn .img_scroll {
        position: static;
    }

    [id^="set_card_"]:checked+.card_btn .back_btn {
        margin-right: 0;
    }

    [id^="set_card_"]:checked+.card_btn img {
        width: 95%;
    }
}