* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFE0B2;
    background-image: url(../images/wood_backg.webp);
    background-position: center center;
    background-size: 100%;
    border-image: fill 0 linear-gradient(#FFF2DF, #fff2df7a, #fff2df00, #2c2720b9 100%);
    overflow-x: hidden;
    min-height: 100vh;
}

header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FFF2DF;
    height: 150px;
    z-index: 999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 60px;
}

.logo {
    position: relative;
    left: 0;
    top: 0;
    user-select: none;
}

.logo h1 {
    display: none;
}

.logo img {
    width: 120px;
    filter: drop-shadow(19px 18px 8px rgba(0, 0, 0, 0.36));
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    overscroll-behavior: contain;
    gap: 15px;
    flex: 1 0 auto;
    margin: 0 clamp(10px, 2vw, 20px);
}

#cart_link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: max-content;
    align-items: center;
    cursor: pointer;
}

#cart_link input {
    display: none;
}

#cart_link img {
    width: 34px;
    height: 34px;
}

object[data*="cart.html"] {
    display: block;
    width: 100%;
    height: 100%;
    filter: drop-shadow(#FFE0B2 0 0 12px);
    overscroll-behavior: contain;
}

div:has(object[data*="cart.html"]) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100vh;
    background: #00000080;
    padding-top: 100px;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
}

div:has(object[data*="cart.html"]) a {
    background: rgb(211, 144, 20);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    transition: all 0.3s ease;
    display: flex;
}

div:has(object[data*="cart.html"]) a img {
    width: 24px;
    margin-right: 12px;
}

body:has(#cart:checked) div:has(object[data*="cart.html"]) {
    display: flex;
}

nav a[href^="tel:"] {
    font-weight: bold;
    font-size: 28px;
}

#second_ph:has(font) {
    display: flex;
    flex-direction: column;
}

#second_ph:has(font) br{
    display: none;
}

#cart_link,
nav [href*="order"] {
    background: rgb(211, 144, 20);
    padding: 10px;
    border-radius: 20px;
    z-index: 1000;
}

nav [href*="order"] {
    color: #3E2522;
}

nav a,
nav label {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 25px;
}


#burger_checkbox {
    display: none;
}

.burger_secv {
    display: none;
}

p {
    text-wrap: wrap;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 32px;
    padding-bottom: 32px;
}

.menu {
    box-shadow: #FFE0B2 0 0 20px 12px;
}

.bnt_View_more,
.bnt_addTo_cart {
    padding: 10px;
    background-color: #8C6E63;
    color: #FFF2DF;
    border-radius: 8px;
    cursor: pointer !important;
    font-size: 24px;
    width: 100%;
    margin: 0 20px;
    border: none;
}

h2 {
    cursor: default;
}

footer {
    background-color: #ffe0b2d2;
    box-shadow: #8c6e63 5px 5px 30px 5px inset;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: end;
    padding-top: 50px;
    color: #3E2522;
    gap: 20px;
}

footer>section {
    font-size: 16px;
    text-transform: uppercase;
    bottom: 20px;
    text-align: justify;
}

.menu:has([id*="card_"]:checked) input:not(:checked)~label[for*="card_"],
main:has([id*="card_"]:checked) .lowbar,
main:has([id*="card_"]:checked) .left_nav {
    display: none;
}

/* for all social containers*/
.socialContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    background-color: #D3A376;
    border-radius: 100%;
    box-shadow: #D3A376 0 0 0px 3px;
}

.socialSvg path {
    fill: #8C6E63;
    stroke: none;
}

.socialSvg:is(.MailSVG) path {
    fill: none;
    stroke: #8C6E63;
    stroke-width: 2.5;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

/* --------------------------------------- */

@media(min-width:1180px) {

    nav a[href^="./"]:not([href*="order"]):hover {
        transform: translateY(-5px);
        transition: 0.25s ease-in-out;
        font-size: 30px;
    }

    nav a[href*="order"]:hover {
        border-radius: 35px;
        padding: 15px;
        background: rgb(238, 208, 144);
        transition: 0.25s ease-in-out;
        font-size: 30px;
    }

    nav a:has(.phoneSvg):hover {
        border: 6.5px double rgba(255, 0, 0, 0);
        background-image: linear-gradient(to right top, greenyellow 15%, yellow 75%);
        color: var(whitesmoke);
        transition: 0.35s ease-in-out;
    }

    nav a:has(.FacebookSVG):hover {
        border: 6.5px double rgba(255, 0, 0, 0);
        background-image: linear-gradient(to right top, rgb(77, 98, 211) 45%, rgb(47, 154, 255) 75%);
        color: var(whitesmoke);
        transition: 0.35s ease-in-out;
    }

    nav a:has(.MailSVG):hover {
        border: 6.5px double rgba(255, 0, 0, 0);
        background-image: linear-gradient(to right top, rgb(236, 179, 21) 15%, rgb(233, 70, 6) 75%);
        color: var(whitesmoke);
        transition: 0.35s ease-in-out;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
    }

    header:not(.header-small) .socialContainer {
        width: 44px;
        height: 44px;
    }

    nav a:hover .socialSvg path {
        fill: rgb(255, 255, 255);
        animation: slide-in-top 0.3s both;
    }

    nav a:hover .MailSVG path {
        stroke: rgb(255, 255, 255);
        fill: none;
    }

    body {
        padding-top: 150px;
    }
}

@media(max-width:1410px) and (min-width:1180px) {

    #second_ph {
        display: none;
    }
}

@media(max-width:1270px) and (min-width:1180px) {
    nav a[href*="order"] {
        display: none;
    }
}

@media(max-width:1180px) {
    .burger_secv {
        display: flex;
        justify-content: center;
        align-content: center;
        position: fixed;
        top: auto;
        right: 0;
        background-color: #FFF2DF;
        width: 70px;
        height: 50px;
        z-index: 999;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .burger {
        display: flex;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .burger span {
        width: 80%;
        top: 0;
        left: 0;
        cursor: pointer !important;
    }

    .burger::before,
    .burger span,
    .burger::after {
        position: relative;
        content: '';
        height: 4px;
        background-color: #000000;
        transition: all 0.15s ease 0s;
    }

    .burger::before {
        top: 0;
        left: 0;
        width: 100%;
    }

    .burger::after {
        bottom: 0;
        left: 0;
        width: 100%;
    }

    #burger_checkbox:checked~label::after {
        transform: rotate(45deg);
        bottom: 10px;
    }

    #burger_checkbox:checked~label span {
        transform: rotate(135deg) scale(0);
    }

    #burger_checkbox:checked~label::before {
        transform: rotate(-45deg);
        top: 10px;
    }

    nav {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 800;
        background-color: #d3a37694;
        display: flex;
        flex-direction: column !important;
        text-align: center;
        justify-content: start;
        margin: 0;
        top: -200vh;
        bottom: 200vh;
        flex-wrap: nowrap;
        overflow-y: auto;
    }

    nav a {
        justify-content: center;
        border-radius: 0;
    }


    nav a:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 130px 130px 150px 112px inset;
    }

    footer {
        min-height: 300px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: end;
    }

    body:has(#burger_checkbox:checked) nav {
        top: 150px;
        min-height: max-content;
        height: 100vh;
        padding: 30px 0;
        transition: 0.25s ease-in-out;
    }

    body:has(#burger_checkbox:checked) {
        justify-content: inherit;
    }

    body:has(#burger_checkbox:checked) main,
    body:has(#burger_checkbox:checked) footer {
        display: none;
    }

    header {
        padding: 0 60px 0 20px;
    }
}

main {
    flex-grow: 1;
}

.header-small {
    height: 60px;
    transition: 0.3s ease;
}

.header-small #second_ph {
    display: none;
}

.header-small .logo a img {
    display: none;
}

.header-small .logo a h1 {
    display: flex;
    font-size: 1.5em;
}

.header-small .logo a {
    text-decoration: none;
    color: #000000;
}

footer a {
    color: #FFE0B2;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media (min-height: 536px) {
    .pulse-animation {
        animation: pulse 1s ease-in-out 3;
    }
}

footer {
    line-height: 1.5;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.footer_bottom_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.footer_bottom_text p {
    font-size: 16px;
    color: #8C6E63;
}

.footer_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    column-gap: 320px;
}

.footer_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    column-gap: 320px;
}

footer .text {
    font-size: clamp(52px, 18vw, 120px);
}

footer .line {
    width: 100%;
    border: 1px solid #3E2522;
}

footer a,
footer p {
    width: fit-content;
    font-size: clamp(20px, 2.4vw, 32px);
}

.feedback {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1 0 auto;
    max-width: 100%;
}

.feedback a {
    color: #8c6e63;
}

.links_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 0 auto;
    max-width: 100%;
    gap: 32px;
}

.feedback>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.feedback a[href^="tel:"] {
    flex: 1 0 auto;
    max-width: 50%;
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    height: fit-content;
}

.social a {
    font-size: clamp(16px, 2.8vw, 28px);
    color: #3E2522;
    gap: 6px;
}

.links_container a,
.links_container p {
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
    text-decoration: none;
    color: #3E2522;
    font-size: 20px;
}

footer img[src*="link.svg"] {
    width: 12px;
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    left: -20px;
    opacity: 0;
    filter: brightness(0) saturate(100%) invert(9%) sepia(8%) saturate(4767%) hue-rotate(320deg) brightness(98%) contrast(82%);
}

.social img[src*="link.svg"] {
    width: 24px;
}

a:hover img[src*="link.svg"] {
    opacity: 1;
    transition: 0.35s ease-in-out;
    left: 0;
}

@media (max-width: 600px) {
    footer img[src*="link.svg"] {
        display: none;
    }
}